<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include header.html %}
  </head>
  <body>

    {% include nav.html %}

    <main>
      <div class="container">
        <hr class="double">
        <p class="center">[&nbsp;N<sup>o</sup> {{ page.index | roman }}&nbsp;]
        <span style="float:right;">&nbsp;{{ page.keywords }}</span></p>
        <hr class="simple">

        <h2 class="brand center" id="title">{{ page.title | upcase }}</h2>
        {% if page.category %}
        <hr class="tag-hr simple">
        <p class="right">{{ page.category }}</p>
        <hr class="tag-hr simple">
        {% else %}
        <hr class="simple">
        <br class="simple">
        {% endif %}
        <h5 class="center">{{ page.date | date_to_long_string | upcase }}</h5>

        <div class="threecol justify">
          {{ content }}
        </div>

        <p class="right italics">by {{ site.author }}</p>
      </div>
    </main>

  </body>
</html>
